html { 
    scroll-behavior: smooth;
    overflow-y: scroll;
}

svg { 
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 1;
    width: 100%; 
}

p { 
    margin-block-start: 0em ! important;
}

h1 { 
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 0px; 
    position: relative; 
    top: -10px;
}

h3 { 
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: x-large;
}

nav { 
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px black; 
    background-color: white;
    margin-bottom: 20px;
}

nav a { 
    font-size: large;
    text-decoration: none; 
    color: black;
}

nav a:hover, nav a.curr { 
    font-size: large;
    text-decoration: underline; 
    color: black;
}

img { 
    margin: 0px 10px 0px 10px;
}

button.block { 
    margin-left: 10px;
    font-size: small;
    color: black;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    font-weight: normal ! important;
}

button:focus { 
    outline: none ! important;
}

.content { 
    position: relative;
    z-index: 99;
    margin: 0 auto;
    width: 75%; 
}

.block { 
    margin-top: 10px;
    border: solid 2px black; 
    background-color: white;
    padding: 10px;
    font-size: larger;
}

.block:hover, button:focus { 
    box-shadow: 0 2px 2px black;
    transition: all 0.2s linear;  
}

.transparent-row { 
    display: flex; 
    justify-content: space-between;
}

.transparent-row #place { 
    flex: 1 1 0px;
}

.nav-buttons { 
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end;
}

.link-buttons a, a#note { 
    font-size: small; 
    color: black;
    text-decoration: none; 
    width: fit-content; 
    height: fit-content;
}

.link-buttons a i { 
    font-size: x-large;
}

.link-buttons { 
    display: flex; 
    align-items: flex-end;
}

.link-buttons a { 
    margin-right: 5px;
}

.button-grouper { 
    display: flex; 
    justify-content: space-between;
}

.fadeIn {
    animation: appear 1s linear forwards;
}

.fadeOut {
    animation: disappear 1s linear forwards;
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}

@keyframes disappear {
    0% { opacity: 1; }
    100% { opacity: 0; } 
}

#note {
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
}

div #header { 
    display: flex; 
    justify-content: space-between;
}

div #contact { 
    width: fit-content;
}
